.img{
    height: 40px;
}

    .nav{
        background-color: rgb(152, 107, 255);
    }

            .fondo-2{
            background-color: rgb(80, 51, 150);
        }

        .todo-h{
            height: 100vh;
        }

        p{
    margin: 0px;
}